* {
  box-sizing: border-box;
}

.hide {
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  transform: translateX(-20px);
  transition: visibility 0s 0.12s linear, opacity 0.12s ease-in,
    transform 0.12s ease-in-out;
}

.guided--container {
  overflow-y: auto;
  width: 100%;
  height: calc(100% - 150px);
  padding-right: 30px;
}

.guided--container > h2 {
  margin: 0px;
}

.guided--splash {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.guided--steps {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 30px;
}
.guided--prompt-centered {
  display: flex;
  justify-content: center;
}

.guided--prompt-text {
  font-size: 17px;
  color: var(--color-bg-plum);
  text-align: center;
  font-weight: 700;
  margin-top: 70px;
}
.guided--progress-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.guided--datasets-container {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.guided--dataset-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 70px;
  border-top: 1px solid #e6e8eb;
  border-bottom: 1px solid #e6e8eb;
  padding-left: 7px;
  padding-right: 7px;
}

.guided--dataset-container:hover {
  background-color: whitesmoke;
  cursor: pointer;
}

.guided--dataset-container:first-child {
  border-top: none;
  pointer-events: none;
}

.guided--dataset-item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.guided--dataset-item-name {
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex-grow: 1;
}
.guided--dataset-item-name-folder {
  margin-right: 15px;
}
.guided--dataset-item-name > h2 {
  margin: 0px;
}
.guided--dataset-item-size {
  width: 70px;
  margin-left: 25px;
  margin-right: 25px;
}
.guided--dataset-item-modified {
  width: 130px;
  margin-left: 25px;
  margin-right: 25px;
}
.guided--dataset-item-owner {
  width: 90px;
  margin-left: 25px;
  margin-right: 25px;
}
.guided--dataset-item-icon {
  width: 12px;
}

.grow {
  flex-grow: 1;
}

.guided--step {
  margin-left: 20px;
  display: inline-block;
}

.guided--step > p {
  margin-left: 5px;
  display: inline-block;
}

.guided--step > h4 {
  display: inline-block;
}

.guided--prompt {
  font-size: 17px !important;
  color: var(--color-bg-plum) !important;
  text-align: center;
  font-weight: 700 !important;
  margin-bottom: 8px !important;
}

.faded {
  opacity: 0.2;
}

.show {
  pointer-events: auto;
  visibility: visible;
  opacity: 1;
  z-index: 1000;
  transform: translateX(0);
  transition: visibility 0s 0s linear, opacity 0.36s ease-out,
    transform 0.36s ease-out;
}

.guided-section {
  /* display: none; */
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  bottom: 0;
  padding-top: 40px;
  overflow-x: hidden;
  overflow-y: auto;
  margin-top: 1px;
  /* margin-left: -10px; */
}

.guided {
  display: none;
}

.guided.show {
  display: flex;
  flex-direction: column;
}
